## A little exercise to see whether you understand array manipulations.

    Follow the instructions in their correct order
    This means do 1 first before 2, and do 3 before 4.

## 1.  Declare a 6x6 array with all zeros
   Assign it to variable 'mm'

In [1]:
import numpy as np
mm = np.zeros ( (6,6) )
mm

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

## 2. Write '11' diagonally - from top left to bottom right

In [2]:
for i in range ( 6):
    mm[i][i]=11
mm

array([[11.,  0.,  0.,  0.,  0.,  0.],
       [ 0., 11.,  0.,  0.,  0.,  0.],
       [ 0.,  0., 11.,  0.,  0.,  0.],
       [ 0.,  0.,  0., 11.,  0.,  0.],
       [ 0.,  0.,  0.,  0., 11.,  0.],
       [ 0.,  0.,  0.,  0.,  0., 11.]])

## 3. Write row of ‘33’ to row index 3

## 4. Write ‘44’ to diagonal from bottom left to top right

## 5. Fill the empty cells with ‘55’