<h1> <a href='http://interactivepython.org/runestone/static/pythonds/Introduction/DiscussionQuestions.html'> In Class Exercise 1 (Python Introduction)  </a> </h1>

Write Python program to display 6 multiplcation tables of different sizes as shown below

In [2]:
def multiplication (n):
    for i in range (1,n):
        s = ""                   # the string for one row in the table like, 1*1, 1*2, 1*3..
        for j in range (1,n):
            product = i*j
            s += "{0:2}*{1:} = {2:<2}  ".format (i,j,product)   # one item in the table
        print (s.center ( 80))
for i in range (1,8):
    multiplication (i)
    print ()

                                   1*1 = 1

                              1*1 = 1    1*2 = 2
                              2*1 = 2    2*2 = 4

                        1*1 = 1    1*2 = 2    1*3 = 3
                        2*1 = 2    2*2 = 4    2*3 = 6
                        3*1 = 3    3*2 = 6    3*3 = 9

                   1*1 = 1    1*2 = 2    1*3 = 3    1*4 = 4
                   2*1 = 2    2*2 = 4    2*3 = 6    2*4 = 8
                   3*1 = 3    3*2 = 6    3*3 = 9    3*4 = 12
                   4*1 = 4    4*2 = 8    4*3 = 12   4*4 = 16

             1*1 = 1    1*2 = 2    1*3 = 3    1*4 = 4    1*5 = 5
             2*1 = 2    2*2 = 4    2*3 = 6    2*4 = 8    2*5 = 10
             3*1 = 3    3*2 = 6    3*3 = 9    3*4 = 12   3*5 = 15
             4*1 = 4    4*2 = 8    4*3 = 12   4*4 = 16   4*5 = 20
             5*1 = 5    5*2 = 10   5*3 = 15   5*4 = 20   5*5 = 25

        1*1 = 1    1*2 = 2    1*3 = 3    1*4 = 4    1*5 = 5    1*6 = 6
        2*1 = 2    2*2 = 4    2*3 = 6    2*4 = 8    2*5 = 10   2*6 = 12
        3*1 = 3    3*2 = 6    3*3 = 9    3*4 = 12   3*5 = 15   3*6 = 18
        4*1 = 4    4*2 = 8    4*3 = 12   4*4 = 16   4*5 = 20   4*6 = 24
        5*1 = 5    5*2 = 10   5*3 = 15   5*4 = 20   5*5 = 25   5*6 = 30
        6*1 = 6    6*2 = 12   6*3 = 18   6*4 = 24   6*5 = 30   6*6 = 36

In [3]:
                                    1*1 = 1 

                                 1*1 = 1  1*2 = 2 
                                 2*1 = 2  2*2 = 4 

                             1*1 = 1  1*2 = 2  1*3 = 3 
                             2*1 = 2  2*2 = 4  2*3 = 6 
                             3*1 = 3  3*2 = 6  3*3 = 9 

                         1*1 = 1  1*2 = 2  1*3 = 3  1*4 = 4 
                         2*1 = 2  2*2 = 4  2*3 = 6  2*4 = 8 
                         3*1 = 3  3*2 = 6  3*3 = 9  3*4 =12 
                         4*1 = 4  4*2 = 8  4*3 =12  4*4 =16 

                     1*1 = 1  1*2 = 2  1*3 = 3  1*4 = 4  1*5 = 5 
                     2*1 = 2  2*2 = 4  2*3 = 6  2*4 = 8  2*5 =10 
                     3*1 = 3  3*2 = 6  3*3 = 9  3*4 =12  3*5 =15 
                     4*1 = 4  4*2 = 8  4*3 =12  4*4 =16  4*5 =20 
                     5*1 = 5  5*2 =10  5*3 =15  5*4 =20  5*5 =25 

                 1*1 = 1  1*2 = 2  1*3 = 3  1*4 = 4  1*5 = 5  1*6 = 6 
                 2*1 = 2  2*2 = 4  2*3 = 6  2*4 = 8  2*5 =10  2*6 =12 
                 3*1 = 3  3*2 = 6  3*3 = 9  3*4 =12  3*5 =15  3*6 =18 
                 4*1 = 4  4*2 = 8  4*3 =12  4*4 =16  4*5 =20  4*6 =24 
                 5*1 = 5  5*2 =10  5*3 =15  5*4 =20  5*5 =25  5*6 =30 
                 6*1 = 6  6*2 =12  6*3 =18  6*4 =24  6*5 =30  6*6 =36

Construct a class hierarchy for people on a college campus, including faculty, staff, and students. 
What do they have in common? For example, they all have names.
What distinguishes them from one another?

class Person:
    def __init__(self, name, surname, number):
        self.name = name
        self.surname = surname
        self.number = number


class Student(Person):
    UNDERGRADUATE, POSTGRADUATE = range(2)

    def __init__(self, student_type, *args, **kwargs):
        self.student_type = student_type
        self.classes = []
        super(Student, self).__init__(*args, **kwargs)

    def enrol(self, course):
        self.classes.append(course)


class StaffMember(Person):
    PERMANENT, TEMPORARY = range(2)

    def __init__(self, employment_type, *args, **kwargs):
        self.employment_type = employment_type
        super(StaffMember, self).__init__(*args, **kwargs)


class Lecturer(StaffMember):
    def __init__(self, *args, **kwargs):
        self.courses_taught = []
        super(Lecturer, self).__init__(*args, **kwargs)

    def assign_teaching(self, course):
        self.courses_taught.append(course)


jane = Student(Student.POSTGRADUATE, "Jane", "Smith", "SMTJNX045")
jane.enrol(a_postgrad_course)

bob = Lecturer(StaffMember.PERMANENT, "Bob", "Jones", "123456789")
bob.assign_teaching(an_undergrad_course)

In [ ]:
# We represent both student numbers and staff numbers by a single attribute, 
# number, which we define in the base class

Hints:
names, addresses, gender, rank, 
Checking, Savings, Certified Deposit
notebooke, desktop

<h3> Reference  <a href='http://www.jesshamrick.com/2011/05/18/an-introduction-to-classes-and-inheritance-in-python/    '> "An Introduction to Classes and Inheritance (in Python)" </a>  
<ul>
    <li>
Construct a class hierarchy for different types of pets that include birds and fish, in addtion to cats and dogs.        </li>
<li>
     What do they have in common? 
       </li>    
<li>
     What distinguishes them from one another?
       </li>
</ul>
</h3>

In [4]:
class Pet(object):   # base class

    def __init__(self, name, species):
        self.name = name
        self.species = species

    def getName(self):
        return self.name

    def getSpecies(self):
        return self.species

    def __str__(self):
        return "%s is a %s" % (self.name, self.species)

In [5]:
class Bird (Pet):
    def __init__(self, name):
        Pet.__init__(self, name, "Bird")
    def __str__(self):
        return Pet.__str__(self) 
    
class Fish (Pet):
    def __init__(self, name, live_in_fresh_water ):
        Pet.__init__(self, name, "Fish")
        self.live_in_fresh_water = live_in_fresh_water
        
    def __str__(self):
        s = Pet.__str__(self)
        if self.live_in_fresh_water:
            s += ", and live in the fresh water"
        else:
            s += ", and live in the salty water"            
        return s

In [6]:
class Dog(Pet):   # subclass
    def __init__(self, name, chases_cats):
        Pet.__init__(self, name, "Dog")
        self.chases_cats = chases_cats

    def chasesCats(self):
        return self.chases_cats

    def __str__(self):
        s = [ "chase cats.", "ok with cats."]
        return Pet.__str__(self) + ", and " + s[self.chasesCats()]

In [7]:
class Cat(Pet):

    def __init__(self, name, hates_dogs):
        Pet.__init__(self, name, "Cat")
        self.hates_dogs = hates_dogs

    def hatesDogs(self):
        return self.hates_dogs
    def __str__(self):
        s = [ "hates dogs.", "ok with dogs." ]
        i = self.hatesDogs()
        return Pet.__str__(self) + ", and " + s[i]

Test your the implmentation of your program that include birds and fish as the following example.

In [8]:
fido = Dog("Fido", True)
rover = Dog("Rover", False)
mittens = Cat("Mittens", True)
fluffy = Cat("Fluffy", False)
golden =   Fish ( "Golden", True )
boss  =    Fish ("Boss", False)
twitty = Bird ("Twitty")
list = [fido, rover, mittens, fluffy, golden, boss, twitty ]
for p in list:
    print (p)

Fido is a Dog, and ok with cats.
Rover is a Dog, and chase cats.
Mittens is a Cat, and ok with dogs.
Fluffy is a Cat, and hates dogs.
Golden is a Fish, and live in the fresh water
Boss is a Fish, and live in the salty water
Twitty is a Bird

Repeat the previous work, write codes to construct a class hierarchy for different types of bank accounts, including 
* CD
* Checking
* Savings

<h1> END of ASSIGNMENTS</h1>