<h1> <a href='http://interactivepython.org/runestone/static/pythonds/Introduction/DiscussionQuestions.html'> In Class Exercise 1 (Python Introduction)  </a> </h1>

Write Python program to display 6 multiplcation tables of different sizes as shown below

In [1]:
def print_mul_table(size, k):
    for i in range(1, size+1):
        for n in range(k):
            print(end=' ')
        for j in range(1, size+1):
            print(str(i)+'*'+str(j)+' = %s  ' % (i*j), end='')
        print()

In [2]:
def mul_table_triangle(n):
    k = 7*n - 4
    for i in range(1, n+1):
        print_mul_table(i, k)
        k = k - 4
        print()

In [162]:
mul_table_triangle(6)

                                      1*1 = 1

                                  1*1 = 1  1*2 = 2
                                  2*1 = 2  2*2 = 4

                              1*1 = 1  1*2 = 2  1*3 = 3
                              2*1 = 2  2*2 = 4  2*3 = 6
                              3*1 = 3  3*2 = 6  3*3 = 9

                          1*1 = 1  1*2 = 2  1*3 = 3  1*4 = 4
                          2*1 = 2  2*2 = 4  2*3 = 6  2*4 = 8
                          3*1 = 3  3*2 = 6  3*3 = 9  3*4 = 12
                          4*1 = 4  4*2 = 8  4*3 = 12  4*4 = 16

                      1*1 = 1  1*2 = 2  1*3 = 3  1*4 = 4  1*5 = 5
                      2*1 = 2  2*2 = 4  2*3 = 6  2*4 = 8  2*5 = 10
                      3*1 = 3  3*2 = 6  3*3 = 9  3*4 = 12  3*5 = 15
                      4*1 = 4  4*2 = 8  4*3 = 12  4*4 = 16  4*5 = 20
                      5*1 = 5  5*2 = 10  5*3 = 15  5*4 = 20  5*5 = 25

                  1*1 = 1  1*2 = 2  1*3 = 3  1*4 = 4  1*5 = 5  1*6 = 6
                  2*1 = 2  2*2 = 4  2*3 = 6  2*4 = 8  2*5 = 10  2*6 = 12
                  3*1 = 3  3*2 = 6  3*3 = 9  3*4 = 12  3*5 = 15  3*6 = 18
                  4*1 = 4  4*2 = 8  4*3 = 12  4*4 = 16  4*5 = 20  4*6 = 24
                  5*1 = 5  5*2 = 10  5*3 = 15  5*4 = 20  5*5 = 25  5*6 = 30
                  6*1 = 6  6*2 = 12  6*3 = 18  6*4 = 24  6*5 = 30  6*6 = 36

In [ ]:
                                    1*1 = 1 

                                 1*1 = 1  1*2 = 2 
                                 2*1 = 2  2*2 = 4 

                             1*1 = 1  1*2 = 2  1*3 = 3 
                             2*1 = 2  2*2 = 4  2*3 = 6 
                             3*1 = 3  3*2 = 6  3*3 = 9 

                         1*1 = 1  1*2 = 2  1*3 = 3  1*4 = 4 
                         2*1 = 2  2*2 = 4  2*3 = 6  2*4 = 8 
                         3*1 = 3  3*2 = 6  3*3 = 9  3*4 =12 
                         4*1 = 4  4*2 = 8  4*3 =12  4*4 =16 

                     1*1 = 1  1*2 = 2  1*3 = 3  1*4 = 4  1*5 = 5 
                     2*1 = 2  2*2 = 4  2*3 = 6  2*4 = 8  2*5 =10 
                     3*1 = 3  3*2 = 6  3*3 = 9  3*4 =12  3*5 =15 
                     4*1 = 4  4*2 = 8  4*3 =12  4*4 =16  4*5 =20 
                     5*1 = 5  5*2 =10  5*3 =15  5*4 =20  5*5 =25 

                 1*1 = 1  1*2 = 2  1*3 = 3  1*4 = 4  1*5 = 5  1*6 = 6 
                 2*1 = 2  2*2 = 4  2*3 = 6  2*4 = 8  2*5 =10  2*6 =12 
                 3*1 = 3  3*2 = 6  3*3 = 9  3*4 =12  3*5 =15  3*6 =18 
                 4*1 = 4  4*2 = 8  4*3 =12  4*4 =16  4*5 =20  4*6 =24 
                 5*1 = 5  5*2 =10  5*3 =15  5*4 =20  5*5 =25  5*6 =30 
                 6*1 = 6  6*2 =12  6*3 =18  6*4 =24  6*5 =30  6*6 =36

Construct a class hierarchy for people on a college campus, including faculty, staff, and students. 
What do they have in common? For example, they all have names.
What distinguishes them from one another?

Construct a class hierarchy for 
* different types of bank accounts.
* different types of computers

In [149]:
class CollegePeople(object):
    
    def __init__(self, name, occupation):
        self.name = name
        self.occupation = occupation
    
    def get_name(self):
        return self.name
    
    def get_occupation(self):
        return self.occupation

In [156]:
class Student(CollegePeople):
    
    def __init__(self, name, class_year):
        CollegePeople.__init__(self, name, 'Student')
        self.class_year = class_year
        
    def whichClass(self):
        return self.class_year

In [158]:
lisa = Student('Lisa', '2017')
lisa.whichClass()

'2017'

Hints:
names, addresses, gender, rank, 
Checking, Savings, Certified Deposit
notebooke, desktop

<h3> Reference  <a href='http://www.jesshamrick.com/2011/05/18/an-introduction-to-classes-and-inheritance-in-python/    '> "An Introduction to Classes and Inheritance (in Python)" </a>  
<ul>
    <li>
Construct a class hierarchy for different types of pets that include birds and fish, in addtion to cats and dogs.        </li>
<li>
     What do they have in common? 
       </li>    
<li>
     What distinguishes them from one another?
       </li>
</ul>
</h3>

In [42]:
class Pet(object):   # base class

    def __init__(self, name, species):
        self.name = name
        self.species = species

    def getName(self):
        return self.name

    def getSpecies(self):
        return self.species

    def __str__(self):
        return "%s is a %s" % (self.name, self.species)

In [43]:
class Dog(Pet):   # subclass

    def __init__(self, name, chases_cats):
        Pet.__init__(self, name, "Dog")
        self.chases_cats = chases_cats

    def chasesCats(self):
        return self.chases_cats

    def __str__(self):
        s = [ "chase cats.", "ok with cats."]
        return Pet.__str__(self) + ", and " + s[self.chasesCats()]

In [44]:
class Cat(Pet):

    def __init__(self, name, hates_dogs):
        Pet.__init__(self, name, "Cat")
        self.hates_dogs = hates_dogs

    def hatesDogs(self):
        return self.hates_dogs
    def __str__(self):
        s = [ "hates dogs.", "ok with dogs." ]
        i = self.hatesDogs()
        return Pet.__str__(self) + ", and " + s[i]

In [62]:
class Bird(Pet):
    def __init__(self, name, can_fly):
        Pet.__init__(self, name, 'Bird')
        self.can_fly = can_fly
    
    def canFly(self):
        return self.can_fly
    
    def __str__(self):
        s = [ "cannot fly.", "can fly." ]
        i = self.canFly()
        return Pet.__str__(self) + ", and " + s[i]

In [64]:
class Fish(Pet):
    def __init__(self, name, live_in_fresh_water):
        Pet.__init__(self, name, 'Fish')
        self.live_in_fresh_water = live_in_fresh_water
    
    def livesInFreshWater(self):
        return self.live_in_fresh_water
    def __str__(self):
        s = [ "lives in the ocean.", "lives in the fresh water." ]
        i = self.livesInFreshWater()
        return Pet.__str__(self) + ", and " + s[i]
    
#     def fresh_water

Test your the implmentation of your program that include birds and fish as the following example.

In [66]:
fido = Dog("Fido", True)
rover = Dog("Rover", False)
mittens = Cat("Mittens", True)
fluffy = Cat("Fluffy", False)
peter = Fish('Peter', True)
lola = Bird('Lola', False)
list = [fido, rover, mittens, fluffy, peter, lola]
for p in list:
    print (p)

Fido is a Dog, and ok with cats.
Rover is a Dog, and chase cats.
Mittens is a Cat, and ok with dogs.
Fluffy is a Cat, and hates dogs.
Peter is a Fish, and lives in the fresh water.
Lola is a Bird, and cannot fly.

<h1> END of ASSIGNMENTS</h1>